:root{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

section .stream{
    background-color: darkslategray;
    width: 100%;
    max-width: 600px;
    max-height: 482px;
	margin: auto;
    margin-bottom: 10px;
}

section .controls button{
    width: 100%;
    display: inline;
    max-width: 100px;
    height: 50px;
    font-size: x-large;
    font-weight: bold;
    border-style: solid;
    border-radius: 3px;
}

section .controls .left, .right{
    color: white;
    background-color: #008779;
    border-color: #008779;
}

section .controls .left:active, .right:active{
    color: #008779;
    background-color: white;
    border-color: #008779;
}

section .controls .fire{
    color: white;
    background-color: rgb(255, 91, 91);
    border-color: rgb(255, 91, 91);
}

section .controls .fire:active{
    color: rgb(255, 91, 91);
    background-color: white;
}

section .mode p{
    margin-bottom: 5px;
}

footer .logo img{
    width: 90px;
	position: fixed; 
	bottom: 0; 
	right: 90px; 
}

footer .vives-logo img{
    width: 80px;
	position: fixed; 
	bottom: 0; 
	right: 5px; 
}
div.img {
  background-image: url('http://172.16.101.169:8080/video');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  }