:root{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

header h1{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: #008779;
    color: ghostwhite;
}

section .wrapper{
    display: grid;
    grid-template-columns: 200px 60vh 200px;
    justify-content:center;
    align-content: center;
    
}

section .streamContainer{
    /* background-color: darkslategray; */
    width: 60vh;
    max-height: 100%;
	margin: auto;
    margin-bottom: 10px;
}

#stream {
  background-image: url('http://172.16.102.76:8000/stream.mjpg'); /* => THIS IP ADDRESS NEED TO BE CHANGED WITH THE IP ADDRESS OF THE RASPBERRY PI */
  cursor: crosshair;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;     /*100%*/
  height: 400px;     /*400px*/
}

section {
    display: inline;
}

section .wrapper .sliderContainer{
    width: 200px;
    margin-left: auto;
}

.sliderContainer input[type="text"]{
    width: 30px;
    background-color: #d3d3d3;
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 3px;
    margin-left: 2px;
    text-align: right;
}

.slider {
    width: 300px;
    height: 15px;
    position: absolute;
    margin-left: -150px;
    margin-top: 150px;
    outline: none;
    background: #d3d3d3;
    border-radius: 3px;
    transform: rotate(-90deg);
    -webkit-appearance: none;
}

.slider:hover{
    opacity: 0.8;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #008779;
    cursor: pointer;
    border-radius: 6px;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #008779;
    cursor: pointer;
    border-radius: 6px;
}

section .wrapper .whitespace{
    width: 200px;
    margin-right: auto;
}

section .controls button{
    width: 100%;
    display: inline;
    max-width: 100px;
    height: 50px;
    font-size: x-large;
    font-weight: bold;
    border-style: solid;
    border-radius: 3px;
}

section .controls button:hover{
    opacity: 0.8;
}

#left, #right{
    color: white;
    background-color: #008779;
    border-color: #008779;
}

#left:active, #right:active{
    color: #008779;
    background-color: white;
    border-color: #008779;
}

#fire{
    color: white;
    background-color: rgb(255, 91, 91);
    border-color: rgb(255, 91, 91);
}

#fire:active{
    color: rgb(255, 91, 91);
    background-color: white;
}

section .mode p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 24px;
}

.mode{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.modi-container{
    display: flex;
    justify-content: space-around;
}

.modi-container button{
    font-size: 28px;
    height: 50px;
    width: 210px;
    border-style: solid;
    border-radius: 3px;
}

footer .logo img{
    width: 90px;
	position: fixed; 
	bottom: 0; 
	right: 90px; 
}

footer .vives-logo img{
    width: 80px;
	position: fixed; 
	bottom: 0; 
	right: 5px; 
}
